
.timeline {
  padding: 20px;
  background-color: #e0e0e08f;
  border-left: 3px solid #e0e0e09f;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.timeline-item {
  margin-bottom: 20px;
}
.timeline-date {
  font-weight: bold;
  color: #555;
}

.post-detail-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e0e0e08f;
  border-radius: 5px;
}

.user-id {
  padding: 20px;
  background-color: #e0e0e08f;
  border-left: 3px solid #e0e0e09f;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-radius: 5px;
} 

body {
  background: linear-gradient(to bottom, #274e43 60%, #7c2e24 100%);
  background-blend-mode: screen;                    
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 50px;
}
.jumbotron {
  background-color: #e0e0e0;
  margin-top: 8%;
  padding-bottom: 6%;
  padding-top: 4%;
}

.navbar {
  margin-bottom: 20px;
  color: #bd0f0f;
}

.timeDate {
color: #e0e0e0;
background-color: rgb(12, 12, 12);
}

.btn-success {
  background-color: #274e43;
  border-color: #274e43;
}

.sidenote {
  border-left: 3px solid #0f0f0f;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}


#sidenoteFormContainer {
  margin-top: 10px;
  opacity: 90%;
}

#showSidenoteForm {
  margin-bottom: 10px;
}

.about {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #16161633;
  color: #e0e0e0;
}

.text-center-light {
   text-shadow: #e0e0e0 1px 1px 50px;
}