
.timeline {
  border-left: 3px solid #ddd;
  margin-left: 20px;
  padding-left: 20px;
}
.timeline-item {
  margin-bottom: 20px;
}
.timeline-date {
  font-weight: bold;
  color: #555;
}

body {
  background: linear-gradient(to bottom, #274e43 60%, #7c2e24 100%);
  background-blend-mode: screen;                    
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin-top: 50px;
}
.jumbotron {
  background-color: #faf0ef;
  margin-top: 20%;
  opacity: 90%;

}

.navbar {
  margin-bottom: 20px;
}

.btn-success {
  background-color: #274e43;
  border-color: #274e43;
}

.sidenote {
  border-left: 3px solid #007bff;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

#sidenoteFormContainer {
  margin-top: 15px;
}

#showSidenoteForm {
  margin-bottom: 10px;
}