# Virtual environment
venv/
myenv/


# Python cache files
*.pyc
__pycache__/

# Database files
db.sqlite3


# Backup files
db.json

# Environment variables
env.py
.env

# side files
templates/password/