{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
    <main>
        <section class="about">
            <h1>About Lucke Project</h1>
            <br>
            <p>
                The Lucke project is like a digital diary that allows users to create a profile,Login, and write diaries and write about their daily experiences.
                Inspired by the philosopher <i><b>John Locke</b></i>, who  valued  the importance of memories, this project aims to provide a personal space for users to store and reflect on their thoughts and experiences.
            </p>
            <p>
                Diaries play a crucial role in building human intelligence and identity. They serve as a repository of our thoughts, emotions, and experiences, allowing us to reflect on our past and plan for the future. Keeping a diary helps in organizing our thoughts, making sense of our experiences, and preserving our memories.
            </p>
            <p>
                The process of writing down our thoughts can lead to better mental clarity, emotional stability, and a deeper understanding of ourselves. It is a practice that has been valued by thinkers and creatives throughout history for its ability to capture the essence of human experience.
            </p>
            <p>
                The Lucke project is currently under development, with many features yet to be implemented and numerous ideas to be tested out. We are constantly working to improve the platform, adding new functionalities, and enhancing user experience. Stay tuned for updates as we continue to build and expand this project.
            </p>
        </section>
    </main>
{% endblock %}