{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Lucke Project{% endblock %}


{% block content %}
<div class="post-detail-container jumbotron">
    <h2>{{ diary.title|title }}</h2>
    <br>
    <p>{{ diary.content }}</p>
    <br>
    <small class="timeDate">Written on {{ diary.created_at|date:"M d, Y" }} at {{ diary.created_at|time:"H:i" }}</small>
    <div class="mt-2">
        <a href="{% url 'diary_edit' diary.id %}" class="btn btn-dark btn-sm">Edit</a>
        <a href="{% url 'diary_delete' diary.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
</div>

<hr>
<br>
    <div id="sidenotes-container">
        <button id="showSidenoteForm" class="btn btn-dark btn-sm">Write a Side Note</button>
        <div id="sidenoteFormContainer" style="display:none;">
            <form id="sidenoteForm" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark btn-sm">Add Side note</button>
            </form>
        </div>
        <br>
        {% include 'sidenotes_list.html' with sidenotes=sidenotes %}

    </div>
    
    <div id="sidenoteFormContainer" style="display:none;">
        <form id="sidenoteForm" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark btn-sm">Add Side note</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('showSidenoteForm').addEventListener('click', function() {
        var formContainer = document.getElementById('sidenoteFormContainer');
        formContainer.style.display = (formContainer.style.display === "none") ? "block" : "none";
    });

    document.getElementById('sidenoteForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var form = event.target;
        var formData = new FormData(form);

        fetch("{% url 'diary_detail' diary.id %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.sidenotes_html) {
                document.getElementById('sidenotes-container').innerHTML = data.sidenotes_html;
                form.reset();
                document.getElementById('sidenoteFormContainer').style.display = 'none';
            }
        });
    });
</script>
{% endblock %}