# Virtual environment
venv/
myenv/
.env/

# Python cache files
*.pyc
__pycache__/

# Database files
db.sqlite3

# Static files
staticfiles/

# Backup files
db.json

# Environment variables
env.py

# side files
templates/password/